<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MaiLianBao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C94F2E61F02314F00830058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C94F3C51F02395400830058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF35A7A21D3C88480072EFFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
